<!DOCTYPE html>
<html>
<head>
    <title>Post Flair Classifier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='demo.css') }}">
</head>
<body>
    <h1>Reddit Forum Clone Demo</h1>
    <form method="POST">
        <textarea name="title" placeholder="Enter your title here"></textarea>
        <textarea name="post" placeholder="Enter your post here"></textarea>
        <button type="submit">Submit Post</button>
        {% with messages = get_flashed_messages()%}
            {% if messages%}
                {% for message in messages%}
                <p>{{message}}</p>
                {%endfor%}
            {%endif%}
        {%endwith%}
    </form>
    {% if filtered %}
        <a href="{{ url_for('unfilter') }}" class="unfilter-button">Unfilter</a>
    {% endif %}
    <h2>
        {% for post in posts %}
        <div class="post-container">
            <h2 class="post-title">{{ post.title }}</h2>
            <p class="post-content">{{ post.post }}</p>
            <p class="post-labels">Labels:
                {% for label in post.label.split(', ') %}
                    <a href="{{ url_for('filter', label=label) }}" style="color: {{ color_mapping[label] }}">{{ label }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
            </p>
            <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
                <input type="submit" value="Delete">
            </form>
        </div>
        {% endfor %}
    </h2>
</body>
</html>