<!DOCTYPE html>
<html>

<head>
    <title>Start Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1>Welcome to our application!</h1>
        <p>Please select an option to get started:</p>
        <div class="btn-group-vertical">
            <a class="btn btn-primary" href="/udub">udub</a>
            <a class="btn btn-primary" href="/rutgers">rutgers</a>
            <a class="btn btn-primary" href="/nyu">nyu</a>
            <a class="btn btn-primary" href="/usc">usc</a>
            <a class="btn btn-primary" href="/uiuc">uiuc</a>
        </div>
    </div>
</body>

</html>